<div class="mt-5 col-lg-8 mt-3">
    <div class="card shadow mb-3 mt-2">
        <%= image_tag(@movie.image.variant(resize_to_fill: [192, 192]), class: "card-img-top") if @movie.image.attached? %>
        <div class="card-body">
            <h5 class="card-title">Title:
                <%= @movie.title %></h5>
            <div class="row mt-3">
                <div class="col-lg-7">
                    <h5>Category:
                        <span class="badge bg-primary"><%= @movie.category%></span>
                    </h5>
                </div>
                <div class="col-lg-5">
                    <p class="lead">Description:
                        <%=@movie.description%>
                    </p>
                </div>

                <div class=" col-md-4">
                    <%= render @movie.reviews %>
                    <div>
                        <%= link_to "Add Review", new_movie_review_path(@movie), class: "btn btn-outline-success"%>
                    </div>
                </div>
            </div>
            <%= link_to 'Back to Movies', root_path, class: "btn btn-outline-danger mt-3"%>
        </div>
    </div>
</div>

<div class="col-lg-4 mt-3"></div>
